<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="header">Error 404</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="/assets/vader.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>I find your lack of 200 OK disturbing</h4>
          </div>
          <div class="card-action right-align">
            <a routerLink="/">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
