<nav class="indigo">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo left hide-on-small-only">Star Wars</a>
    <ul id="nav-mobile" class="right">
      <li routerLinkActive="active"><a routerLink="/people"><i class="material-icons left">face</i>People</a></li>
      <li routerLinkActive="active"><a routerLink="/planets"><i class="material-icons left">explore</i>Planets</a></li>
      <li routerLinkActive="active"><a routerLink="/movies"><i class="material-icons left">theaters</i>Movies</a></li>
    </ul>
  </div>
</nav>
